<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/style.css" type="text/css" media="all" />
</head>
    <body>
    <%- include('component/navbar')%>
        <h1><%= message %></h1>
    </body>
</html>
